@import "~toastr/build/toastr.css";

.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.inputContainer>div>input{
  margin-bottom: 0px;
}
.error{
  font-size: x-small;
  color: red;
  margin-bottom: 5px;
}
.inputContainer>div{
  width: 100%;
}

span.caret{
 border: none;
}
.centeredDiv{
  display: table;
  margin: 0 auto;
}
.navbar{
  z-index: 15;
}
body{
  background-color: #98e2e0;
}
div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

div::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, rgb(122,153,217)),
  color-stop(0.72, rgb(73,125,189)),
  color-stop(0.86, rgb(28,58,148)));
}
.navbar-inverse{
  background-color: #213c8c!important;
  border-color:white;
}